<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <style>/* Full page center */
</style>
</head>
<body>

<div class="main-container">

    <div class="form-box">
        <h1>Fraud Detection System</h1>

        <form action="{{ predict }}" method="post">

            <div class="input-group">
                <label>Transaction Amount</label>
                <input type="number" step="0.01" name="amount" required>
            </div>

            <div class="input-group">
                <label>Customer Age</label>
                <input type="number" name="age" required>
            </div>

            <div class="input-group">
                <label>Merchant Name</label>
                <input type="text" name="merchant" required>
            </div>

            <div class="input-group">
                <label>Customer City</label>
                <input type="number" name="zipcodeOri" required>
            </div>

            <div class="input-group">
                <label>Transaction Time (0-23)</label>
                <input type="number" name="time" min="0" max="23" required>
            </div>

            <button type="submit">Predict</button>
        </form>


    </div>

</div>

</body>
</html>